---
import Layout from '../layouts/Layout.astro';
import '../index.css';
---

<Layout title="Zakuszka">
  <main>
    <img class="banner" src="/images/zakuszka-logo-orange.svg" alt="Zakuszka" />
    
    <div class="markdown-body">
      <h1>Delicious and smooth sounding mixture of various ingredients.</h1>
      <p>With herbs and utensils from all over the globe, we bring you an unforgettable adventure through your emotional system. An adventure best compared the warmest memories to your grandma's cooking abilities. With her fine-honed techniques she always knows how to bring across those deep brassy tones in a forest full of sensational, inevitable spice explosions. Just when you feel like you are churning through the irregularities of her rough days, she knows how to surprise and bring back the positivity in an enticing composition of melodiously crackling digestibles.</p>
      <p>In case you could not follow the above, Zakuszka stems from the delicious paprika spread famously known in and around Transylvania. This is where part of our band is rooted. However, up until this day and age we are based in Den Haag, the political center of The Netherlands, where we bring comfort to the soul, excitement to the ears and appeal to the eyes.</p>
    </div>

    <div class="markdown-body">
      <h2>Events</h2>
      <img src="/Live321_poster_color_v1.2.png" alt="Poster" />
      <h3>2026-03-21</h3>
      <h4>Jazz fusion night @radarcafé Den Haag</h4>
      <p><strong>Doors open:</strong> &emsp; &emsp; &emsp; &nbsp; <em>20:00</em><br/>
      <strong>Anderhalf werk:</strong> &emsp; &emsp; <em>21:00</em><br/>
      <strong>Zakuszka:</strong> &emsp; &emsp; &emsp; &emsp; &nbsp; <em>21:45</em></p>
      <p><strong>Address:</strong><br/>
      Burgemeester Hovylaan 12<br/>
      2552 AW Den Haag</p>
      <p>More info: <a href="https://popradar.nl/programma/zakuszka-anderhalf-werk">popradar.nl</a></p>
    </div>

    <footer>
      <a href="https://www.instagram.com/zakuszka.live/" class="instagram-link">
        <img src="/instagram.svg" alt="Instagram" />
        <span>instagram</span>
      </a>
    </footer>
  </main>
</Layout>
