html {
  font-size: min(2vw, 16px);
}

body {
  font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background: url(/background.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 420px) {
  body {
    font-size: 1.8rem;
  }
}

main {
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  width: min(100vw, 1024px);
}

h1,
h2 {
  color: #f60;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1.1;
}

h1 {
  font-size: 6rem;
  margin: 14rem auto;
}

h2 {
  font-size: 2rem;
}

form {
  display: grid;
  gap: 1rem;
}

label {
  width: 100%;
  display: grid;
  grid-template-columns: 8ch 1fr;
  gap: 1rem;
}

input[type="text"] {
  width: calc(100% - 8px);
}

input[type="submit"] {
  margin-left: auto;
}

textarea {
  width: calc(100% - 8px);
  min-height: 10rem;
}

p {
  margin: 2rem auto;
  line-height: 1.35;
}

hr {
  margin: 3rem;
  border: none;
  outline: solid 1px lightgrey;
}

footer {
  background: white;
  padding: 2rem;
}

footer img {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

.banner {
  max-width: min(80vw, 1024px);
  margin: 4rem auto;
}

.banner-small {
  max-width: min(40vw, 350px);
  margin: 4rem;
}

.card {
  background-color: white;
  padding: 4rem;
}

.markdown-body {
  background-color: white;
  padding: 1rem 2rem;
}

.markdown-body img {
  max-height: 20rem;
}

.instagram-media {
  background: #fff;
  margin: 0 auto;
  padding: 0;
  max-width: 540px;
  min-width: 326px;
  border-radius: 0;
}

@media (max-width: 420px) {
  .instagram-media {
    transform: scale(0.8);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
